$font_path: '~@/assets/fonts/';

@font-face{
  font-family    : 'FuturaBT-CondMedium';
  src            : url($font_path +'386826_0_0.eot'); /* IE9 Compat; Modes */
  src            : url($font_path +'386826_0_0.woff'); /* IE9 Compat; Modes */
  font-style     : normal;
  font-weight    : 400;
  text-rendering : optimizeLegibility;
}
